/* Styling for footer holder */
.FooterHolder {
    padding-top: 5%;
    display: flex;
    width: 100%;
    margin-top: 7%;
  }

Footer {
  background-color: black;
}

  /* Styling for footer containers */
  .FooterContainers {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: roboto;
    width: 100%;
  }
  
  /* Styling for footer links containers */
  .FooterLinksContainers {
    display: flex;
    margin-bottom: 2.5%;
    justify-content: center;
  }
  
  /* Styling for footer links */
  .FooterLinks {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  /* Styling for footer links */
  .FooterLinks a {
    margin-bottom: 8%;
  }
  
  /* Styling for footer title */
  .FooterTitle {
    font-weight: 500;
    padding-bottom: 4.5%;
  }
  
  /* Styling for footer containers paragraphs */
  .FooterContainers p {
    text-align: center;
  }
  
  /* Styling for footer containers images */
  .FooterContainers img {
    width: 4vh;
    height: auto;
    align-self: center;
    margin-bottom: 0.5%;
  }

 a {
    color: white;
    text-decoration: none;
  }

  /* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {

  .FooterHolder {
    padding-top: 10%;
  }

  .FooterLinksContainers {
    flex-direction: column;
  }

  .FooterLinks a {
    margin-bottom: 3%;
  }
  
  .FooterLinks {
    margin-bottom: 5%;
  }

  .FooterTitle {
    font-weight: 500;
    padding-bottom: 1.5%;
  }  
}
