
/* Styling for the hero container */
.HeroContainer {
    position: relative;
    background-color: black; /* Background color */
    width: 100%;
    min-height: 41em; /* Minimum height */
    overflow: hidden; /* Hide overflow */
}
  
  /* Styling for the hero video */
.HeroVideo {
    height: 52em;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

/* Styling for the hero text holder */
.HeroTextHolder {
    position: absolute;
    display: flex;
    width: 100%;
    font-family: roboto;
    margin-top: 15%;
}
  
  /* Styling for the hero text */
.HeroText {
    flex: 1;
    z-index: 1;
    color: white;
    padding-left: 10%;
}
  
  /* Styling for the hero title */
.HeroText h1 {
    font-weight: 600;
    font-size: 3.45em;
}
  
/* Styling for the hero subtitle */
.HeroText h2 {
    font-weight: 500;
    font-size: 1.2em;
    margin-top: -1.5%;
}
  
/* Styling for buttons within hero text holder */
.HeroTextHolder button {
    background-color: rgba(192, 192, 192, 0.088);
    backdrop-filter: blur(14px);
    color: white;
    border-radius: 30px;
    width: 175px;
    height: 42px;
    font-weight: 500;
    font-family: roboto;
    margin-top: 1%;
    font-size: 0.92em;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
    .HeroContainer {
      min-height: 45em; /* Adjust the minimum height for smaller screens */
    }
  
    .HeroText {
      margin-top: 50%;
      padding-left: 6%;
    }
  
    .HeroText h1 {
      font-size: 2em;
    }
  
    .HeroText h2 {
      font-size: 1.15em;
    }
  
    .HeroText button {
      margin-top: 4%;
      width: 12em;
      height: 2.7em;
      font-size: 0.95em;
    }
  
  }
  
  /* Ipad */
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Styles for screen widths between 768px and 1024px */
    .HeroText button {
      width: 12.5em;
      height: 3.5em;
      font-size: 1em;
    }
    .HeroText h1 {
      font-size: 2.9em;
    }
    .HeroText h2 {
      font-size: 1.5em;
    }
    .HeroText {
      padding-left: 5%;
    }
    .HeroTextHolder {
      margin-top: 13em;
    }
  }
  