/* Centering the navigation bar */
.CenterNavBar {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* Styling for the navigation bar */
  .Navbar {
    display: flex;
    position: absolute;
    z-index: 3;
    margin-top: 4vh;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: inter;
  }
  
  /* Styling for the logo/image within the navigation bar */
  .Navbar img {
    width: auto;
    height: 7.5vh;
    flex: 1;
    padding-left: 1%;
  }
  
  /* Styling for the list of navigation items */
  .ItemsList {
    display: flex;
    flex: 5;
    gap: 5%;
    justify-content: flex-end;
    padding-right: 5%;
  }
  
  /* Styling for the title item within the navigation */
  .TitleItem {
    display: flex;
  }
  
  /* Styling for the icon within the title item */
  .TitleItem img {
    height: auto;
    width: 1vh;
    padding-left: 7%;
  }
  
  /* Styling for the navigation links */
  .NavLink {
    padding: none;
    font-size: 2vh;
    color: white;
    font-weight: 450;
  }
  
  /* Styling for the dropdown content */
  .DropdownContent {
    position: absolute;
    display: none;
    font-size: 1.5vh;
    flex-direction: column;
  }
  
  /* Styling for the links within the dropdown */
  .DropdownContent a {
    width: 100%;
    font-weight: 400;
    font-size: 1.5vh;
    color: white;
    margin-bottom: 10%;
  }
  
  /* Displaying dropdown content on hover */
  .DropdownItem:hover .DropdownContent {
    display: flex;
  }

/* Styling for the burger menu item */
.BurgerItem {
  display: none;
  height: auto;
}

/* Styling for the burger menu icon */
.BurgerItem img {
  height: auto;
  width: 3.8vh;
}

/* Styling for the burger menu */
.BurgerMenu {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.818);
  z-index: 2;  
  width: 100%;
  height: 100%;
}

/* Removing default button styles */
button {
  background-color: transparent;
  border: none;
}

/* Styling for navigation items */
.NavItems {
  margin-top: 13vh;
  padding-left: 15%;
  display: flex;
  flex-direction: column;
}

/* Styling for navigation products */
.NavProducts {
  font-family: inter;
  display: flex;
  color: rgb(218, 218, 218);
  font-weight: 400;
  flex-direction: column;
}

/* Styling for navigation product links */
.NavProducts .NavLink {
  font-weight: 500;
}

/* Styling for navigation product links */
.NavProducts a {
  margin-bottom: 10%;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  .HeroContainer {
    min-height: 80vh; /* Adjust the minimum height for smaller screens */
  }
  .ItemsList {
    flex-direction: column;
    display: none;
  }

  .BurgerItem {
    display: block;
    justify-self: flex-end;
    padding-right: 7%;
  }

  .Navbar Img {
    padding: 0%;
    justify-self: flex-start;
    flex: 0;
    padding-left: 3%;
  }

  .BurgerMenu.open {
    display: flex;
  }

  .HeroText {
    margin-top: 50%;
    padding-left: 6%;
  }

  .HeroText h1 {
    font-size: 3.5vh;
  }

  .HeroText h2 {
    font-size: 1.8vh;
  }

  .HeroText button {
    margin-top: 3%;
    width: 15vh;
    height: 5vh;
    font-size: 1.75vh;
  }

  .FooterLinksContainers {
    flex-direction: column;
  }

  .NavItems {
    padding-left: 7%;
  }

  .FooterLinks a {
    margin-bottom: 3%;
  }
  
  .FooterLinks {
    margin-bottom: 5%;
  }

  .FooterTitle {
    font-weight: 500;
    padding-bottom: 1.5%;
  }  
}

/* Ipad */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Styles for screen widths between 768px and 1024px */
  .HeroText button {
    width: 15vh;
    height: 4.5vh;
  }
  .HeroText h1 {
    font-size: 5vh;
  }
  .HeroText {
    padding-left: 5%;
  }
  .HeroTextHolder {
    margin-top: 27vh;
  }
}
