/* Centering the navigation bar */
.CenterNavBar {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* Styling for the navigation bar */
  .Navbar {
    display: flex;
    position: absolute;
    z-index: 3;
    margin-top: 4vh;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: inter;
  }
  
  /* Styling for the logo/image within the navigation bar */
  .Navbar img {
    width: auto;
    height: 7.5vh;
    flex: 1;
    padding-left: 1%;
  }
  
  /* Styling for the list of navigation items */
  .ItemsList {
    display: flex;
    flex: 5;
    gap: 5%;
    justify-content: flex-end;
    padding-right: 5%;
  }
  
  /* Styling for the title item within the navigation */
  .TitleItem {
    display: flex;
  }
  
  /* Styling for the icon within the title item */
  .TitleItem img {
    height: auto;
    width: 1vh;
    padding-left: 7%;
  }
  
  /* Styling for the navigation links */
  .NavLink {
    padding: none;
    font-size: 2vh;
    color: white;
    font-weight: 450;
  }
  
  /* Styling for the dropdown content */
  .DropdownContent {
    position: absolute;
    display: none;
    font-size: 1.5vh;
    flex-direction: column;
  }
  
  /* Styling for the links within the dropdown */
  .DropdownContent a {
    width: 100%;
    font-weight: 400;
    font-size: 1.5vh;
    color: white;
    margin-bottom: 10%;
  }
  
  /* Displaying dropdown content on hover */
  .DropdownItem:hover .DropdownContent {
    display: flex;
  }

/* Styling for the burger menu item */
.BurgerItem {
  display: none;
  height: auto;
}

/* Styling for the burger menu icon */
.BurgerItem img {
  height: auto;
  width: 3.8vh;
}

/* Styling for the burger menu */
.BurgerMenu {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.818);
  z-index: 2;  
  width: 100%;
  height: 100%;
}

/* Removing default button styles */
button {
  background-color: transparent;
  border: none;
}

/* Styling for navigation items */
.NavItems {
  margin-top: 13vh;
  padding-left: 15%;
  display: flex;
  flex-direction: column;
}

/* Styling for navigation products */
.NavProducts {
  font-family: inter;
  display: flex;
  color: rgb(218, 218, 218);
  font-weight: 400;
  flex-direction: column;
}

/* Styling for navigation product links */
.NavProducts .NavLink {
  font-weight: 500;
}

/* Styling for navigation product links */
.NavProducts a {
  margin-bottom: 10%;
}