.TechnicalReport {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.05em;
    font-family: roboto;
    margin-top: 4%;
    margin-bottom: 4%;
    font-weight: 500;
}

.MainpageContent {
    display: flex;
    width: 100%;
    justify-content: center;
    color: black;
    font-family: roboto;
    padding-bottom: 0.7%;
}

.MainpageContent img {
    height: auto;
    width: 19em;
    border-radius: 5px;
    margin-right: 4%;
}

.MainpageContent h2 {
    font-size: 1.7em;
}

.MainpageContent p {
    font-size: 1em;
    overflow-wrap: normal;
    line-height: 1.5em;
    width: 38em;
}

.TechnicalReportButton {
    background-color: black;
    border-radius: 20px;
    width: 172px;
    height: 36px;
    margin-top: 2%;
}

.MainpageContent a {
    font-weight: 500;
    font-size: 0.95em;
    color: white;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
    
    .TechnicalReport {
        margin-top: 14%;
        margin-bottom: 15%;
    }

    .MainpageContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 15%;
    }

    .MainpageContent p {
        width: 19em;
        font-size: 0.95em;
    }

    .MainpageContent img {
        width: 15em;
        align-self: center;
        margin-right: 0%;
        margin-bottom: 7%;
    }

    .MainpageContent h2 {
        font-size: 1.05em;
        margin-bottom: 6%;
    }

    .MainpageContent a {
        font-size: 1em;
    }


    .TechnicalReportButton {
        background-color: black;
        border-radius: 20px;
        width: 190px;
        height: 35px;
        margin-top: 3.8%;
    }

    .MainpageContent a {
        font-weight: 500;
        font-size: 1em;
        color: white;
    }

}
  
  /* Ipad */
  @media (min-width: 769px) and (max-width: 1024px) {
    
    .TechnicalReport {
        margin-top: 14%;
        margin-bottom: 8%;
    }

    .MainpageContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 15%;
    }

    .MainpageContent img {
        width: 26em;
        align-self: center;
        margin-right: 0%;
        margin-bottom: 7%;
    }

    .MainpageContent p {
        width: 40em;
    }

    .MainpageContent h2 {
        font-size: 1.7em;
        margin-bottom: 6%;
    }

    .TechnicalReportButton {
        background-color: black;
        border-radius: 30px;
        width: 240px;
        height: 50px;
        margin-top: 3.8%;
    }

    .MainpageContent a {
        font-weight: 500;
        font-size: 1.1em;
        color: white;
    }
}
  