.TechnicalReport {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2vh;
    font-family: roboto;
    margin-top: 4%;
    margin-bottom: 4%;
    font-weight: 500;
}

.MainpageContent {
    display: flex;
    width: 100%;
    justify-content: center;
    color: black;
    font-family: roboto;
    padding-bottom: 0.7%;
}

.MainpageContent img {
    height: auto;
    width: 37vh;
    border-radius: 5px;
    margin-right: 4%;
}

.MainpageContent h2 {
    font-size: 3.2vh;
}

.MainpageContent p {
    font-size: 1.65vh;
    overflow-wrap: normal;
    line-height: 3vh;
    width: 77vh;
}

.TechnicalReportButton {
    background-color: black;
    border-radius: 15px;
    width: 171px;
    height: 31px;
    margin-top: 2%;
}

.MainpageContent a {
    font-weight: 500;
    font-size: 1.4vh;
    color: white;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
    
    .TechnicalReport {
        margin-top: 14%;
        margin-bottom: 15%;
    }

    .MainpageContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 15%;
    }

    .MainpageContent p {
        width: 40vh;
    }

    .MainpageContent img {
        width: 31vh;
        align-self: center;
        margin-right: 0%;
        margin-bottom: 7%;
    }

    .MainpageContent h2 {
        font-size: 2.5vh;
        margin-bottom: 6%;
    }

    .MainpageContent a {
        font-size: 1.3vh;
    }


    .TechnicalReportButton {
        background-color: black;
        border-radius: 20px;
        width: 190px;
        height: 35px;
        margin-top: 3.8%;
    }

    .MainpageContent a {
        font-weight: 500;
        font-size: 1.5vh;
        color: white;
    }

}
  
  /* Ipad */
  @media (min-width: 769px) and (max-width: 1024px) {
    
    .TechnicalReport {
        margin-top: 14%;
        margin-bottom: 8%;
    }

    .MainpageContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 15%;
    }

    .MainpageContent img {
        width: 30vh;
        align-self: center;
        margin-right: 0%;
    }

    .MainpageContent h2 {
        font-size: 1.5vh;
    }

    .MainpageContent a {
        font-size: 1.3vh;
    }

}
  