.CenterNavBar {

  width: 100%;
  display: flex;
  justify-content: center;

}

.Navbar {

  display: flex;
  position: absolute;
  z-index: 2;
  margin-top: 10vh;
  align-items: center;
  justify-content: space-between;

}

.Navbar img {

  width: auto;
  height: 5vh;

}

.ItemsList ul {

  display: flex;

}

.ItemsList li {

  list-style-type: none;
  color: white;
  margin-left: 5vh;
  font-size: 1.3vh;

}

.HeroContainer {

  position: relative;

  /* Minimum Height & Maximum Height */
  background-color: black;

  width: 100%;
  min-height: 80vh;

  /* Hide Overflow of Video */
  overflow: hidden;

}

.HeroVideo {

  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;

}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  .HeroContainer {
    min-height: 80vh; /* Adjust the minimum height for smaller screens */
  }
}